<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/about-styles.css">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>Need a little more context?</h1>
            <div class="nav-bar">
                <a href="/index.html">Home</a>
                <a href="/views/about.html">About</a>
                <a href="/views/resume.html">Resume</a>
                <a href="/views/contact-page.html">Contact Me</a>
                <a href=""></a>
            </div>
        </div>
        <!-- <div class="footer"> -->
            <section class="about">
                <h2>ABOUT</h2>
                <div class="line"></div>
                <ul>
                    <li>Who // Chase Powell</li>
                    <li>What // Full Stack Web Developer</li>
                    <li>Where // Abilene, Texas</li>
                    <li>Age // 22 years old</li>
                    <li>Why // Undecided</li>
                </ul>
                <div class="line"></div>
            </section>
    
            <section class="experience">
                <h2>EXPERIENCE</h2>
                <ul>
                    <li>None</li>
                    <li>None</li>
                    <li>None</li>
                </ul>
            </section>
            <section class="skills">
                <h2>GOALS</h2>
                <div class="tool-section">
                    <h5>KNOWLEDGE</h5>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
                <div class="tool-section">
                    <h5>TOOLS</h5>
                    <ul>
                        <li>VsCode</li>
                        <li>CodePen</li>
                    </ul>
                </div>
            </section>
            <section class="featured">
                <h2>PROJECTS</h2>
                <ul>
                    <a href="https://chase-powell.github.io/TicTacToe-101/">Tic-Tac-Toe</a>
                    <a href="https://chase-powell.github.io/calculator-app-101/">Calculator</a>
                </ul>
            </section>
            <section class="personal">
                <h2>PERSONAL</h2>
                <p>I enjoy anything that relates to the creative side of the brain. I enjoy drawing and digital art especially! Music helps me focus when I'm working and helps to not procrastinate. I think that is why I enjoy coding as well. It gives me a chance to create something pleasing that consumers might use. </p>
            </section>
            <section class="image-container1"></section>
            <section class="image-container2"></section>
            <section class="image-container3"></section>
            <section class="image-container4"></section>
            <section class="image-container5"></section>
        
           
    </div>
</body>