<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/conact-page.css">
</head>
<body>\
    
    <div class="main-container">
        
        <div class="information">

            <div class="first-name">
                <label>First Name </label>
                <textarea id="text" name="text" rows="2" cols="30">First Name Name
                    </textarea>
            </div>

            <div class="last-name">
                <label>Last Name </label>
                <h1></h1>
                <textarea id="text" name="text" rows="2" cols="30">Last Name
                    </textarea>

            </div>

            <div class="email">
                <label>Email </label>
                <h1></h1>
                <textarea id="text" name="text" rows="2" cols="30">Email</textarea>

            </div>

            <div class="message">
                <label>Message </label>
                <h1></h1>
                <textarea id="text" name="text" rows="6" cols="50"> I would love to hear your feedback!
                    </textarea>

            </div>


        </div>      

    </div>
</body>
</html>