<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/image-gallery-styles.css">
</head>
<body>
    <div class="row">
        <!-- <div class="container">
            <div class="image">
            <img src="https://source.unsplash.com/800x450/?street" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
            </div>
        </div> -->
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?photoshoot" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?coffee" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?camera" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?photoshoot" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?photoshoot" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?photoshoot" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?alley" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?street" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?dog" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="https://source.unsplash.com/800x450/?cat" alt="">
            <div class="overlay">
            <div class="text">Hello World</div>
            </div>
        </div>
    </div>
        
    </div>
</body>
</html>