<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/resume-styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ballet&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main-container">
        <header>
            <h1>Lin-Manuel Miranda</h1>
            <h2>Playwright, Composer, Lyricist, and Actor</h2>
        </header>

        <section class="profile"></section>

        <section class="photo">
            <h3>Personal Summary</h3>
            <p>Miranda was born on January 15,1980, in New York City. His mother was a clinical psychologist named Luz Towns-Miranda and his father a political consultant, Luis A. Miranda Jr. In early childhood his live in Inwood, Manhattan. Has two kids, Sebastian and Francisco. Loves to sing.</p>
        </section>

        <section class="reachme">
            <h3>Core Skills</h3>
            <ul>
                <li>Singing</li>
                <br>
                <li>Dancing</li>
                <br>
                <li>Directing</li>
                <br>
                <li>Producing</li>
                <br>
                <li>Writing</li>
            </ul>
        </section>

        <section class="work">
            <h4>Work History</h4>
            <ul>
                <li>Writer, Lyricist, & Actor for "In the Heights"</li>
                <br>
                <li>Writer, LYricist, & Actor for Hamilton</li>
                <br>
                <li>Actor & Composer of "How far I'll Go," from "Moana"</li>
                <br>
                <li>Actor in "Mary Poppins Returns"</li>
            </ul>
        </section>

    <div class="contact">
        <h3>Contact Details</h3>
        <ul>
            <li>Press - press@linmanuel.com</li>
            <br>
            <li>Writing - writing@linmanuel.com</li>
            <br>
            <li>Spanish Media - spanishmedia@linmanuel.com</li>
            <br>
            <li>Merchandise - crespo@teerico.com</li>
            <br>
            <li>Fan Mail - 4768 Broadway,Unit 743, New York, NY 10034</li>
            <br>
            <li>Hamilton Education Program - hamilton@gilderlehrman.org</li>
        </ul>
    </div>

        <section class="last">
            <h4>Academic History</h4>
            <ul>
                <li>Graduated (2002) from Wesleyan University</li>
                <br>
                <li>Graduated (1998) from Hunter College High School</li>
            </ul>
            
        </section>
       
        <section class="references">
            <h3>Work References</h3>
            <ul>
                <li>Encores! NYC Center - info@NYCityCenter.org</li>
                <br>
                <li>Botth Theatre, NYC - 212-239-6210 or 800-543-4835</li>
                <br>
                <li>Luis A. Ferré Performing Arts Center - +1 787-724-4747</li>
                <br>
                <li>Wesleyan University - (860) 685-2000</li>
            </ul>
        </section>


    </div>
    

</body>

</html>